.Header {
  position: fixed;
  top: 0;
  width: calc(100% - 40px);
  padding: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: rgba(255, 255, 255, 0.1); /* Transparent background */
  backdrop-filter: blur(10px); /* Adds a blur effect to the background */
  color: black; 
  z-index: 1000;
  font-family: 'Arial', sans-serif; 
  box-sizing: border-box; 
}

.Header-logo {
  font-size: 1.5em;
  font-weight: bold;
}

.Header-nav a {
  padding: 0 15px;
  text-decoration: none;
  color: black;
  font-weight: 600;
  transition: color 0.3s ease;
}

.Header-nav a:hover {
  color: gray; 
}
